{% extends 'base.html.twig' %}

{% block title %}google{% endblock %}

{% block body %}
{% include "navbar.html.twig" %}

{% for repo in repos %}
<ul>
  <li>Titre : {{ repo.title }}</li>
</ul>


{% endfor }
{% endblock %}