body {
    background-color: lightgray;
}
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.search-box {
    display: block;
    text-align: center;
}

.text-description {
    min-height: 150px;
}

.text-title {
    width: 100%;
}