{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
<div class='h-screen bg-gray-500 justify-center'>
    <div class"container mx-auto h-20 flex">
        <h1 class="font-bold text-center h-3/6">Bienvenue sur la Mediateque</h1>
        <button 
            class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4
                 border-blue-700 hover:border-blue-500 rounded">
                 Connexion
        </button>
    </div>
</div>
{% endblock %}
